# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*


# Other

/tmp
/lib
/bin
*.user*
Makefile*
*.pdb
*.~ml
/release
/Release
/debug
/Debug
/*-build-*
/examples/bin
/examples/*-build-*
xcuserdata
